body {
    background-color: #d2d2d2;
    color: #666;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
    width: 963px;
}

.clear {
    clear: both;
    height: 0px;
}

a {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 0 10px 28px 22px;
}

h2 {
    font-weight: bold;
    margin: 27px 10px 28px 22px;
}
h3 {
    font-weight: bold;
    margin: 0 10px 0 22px;
}

header .logo {
    float: left;
}
header .logo img {
    margin: 57px 0 0 18px;
}
header .logo h1 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 18px;
}
header nav {
    font-weight: bold;
}
header nav ul {
    float: right;
    margin-top: 75px;
    width: 177px;
}
header nav ul li {
    margin-left: 23px;
}
header nav ul li a {
    color: #666;
}

#twitter a {
    color: #c69;
}

.calendar {
    color: white;
}
.calendar .title {
    color: #666;
    width: 171px;
}
.small-box {
    width: 150px;
}
.small-box h2 {
    margin: 27px 10px 2px 20px;
}
.small-box span {
    display: block;
    font-weight: bold;
    margin: 0 10px 3px 20px;
}
.small-box p {
    font-weight: bold;
    margin-top: 25px;
}
#box-4 {
    width: 21px;
}
#next-refresh {
    color: #666;
    float: left;
}
#next-refresh p {
    margin-top: 52px;
}
#next-refresh a {
    color: #c69;
}

#countdown {
    background-color: #999;
    float: left;
    width: 321px;
}
#countdown p,
#countdown span {
    display: block;
    font-weight: bold;
    line-height: 153px;
    margin: 0;
    text-align: center;
}

/* Small Box Colours */
#box-1, #box-4 {background-color: #c69;}
#box-2 {background-color: #666;}
#box-3 {background-color: #0cf;}

/* Small Box/Calendar Sub Row Heights */
.calendar .events,
#next-refresh,
#countdown {
    height: 153px;
}

.projects li,
.further-info li {
    margin: 0 10px 5px 22px;
}
.projects a,
.further-info a {
    color: #c69;
}

#twitter h2 {
    margin-bottom: 23px;
}
#twitter .twtr-doc {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#twitter .twtr-hd,
#twitter .twtr-ft {
    display: none;
}
#twitter .twtr-bd {
    margin: 0 10px 0 15px;
}

footer,
footer a {
    color: #999;
}
footer .copyright h2 {
    margin-bottom: 20px;
}
footer .incuna > div {
    float: right;
}
footer .incuna p {
    margin: 27px 25px 15px 22px;
    width: 275px;
}
footer .incuna img {
    margin-left: 22px;
}

/* Column floats */
.about,
.calendar .title,
.calendar .small-box,
#row-2 .title,
#row-2 .projects,
#row-2 .further-info,
#twitter,
#contact,
#signup,
footer .copyright {
    float: left;
    height: 100%;
}
header nav,
.calendar,
footer .incuna {
    float: right;
    height: 100%;
}

/* Box colours */
/* Light grey */
nav,
#signup,
#tldw .title,
#typography .title,
#apachewookie .title,
footer .incuna {
    background-color: #ebebeb;
}

/* Salmon */
.about,
#next-refresh,
#row-2 .further-info,
article .title,
#twitter {
    background-color: #fef4f4;
}

/* White */
.calendar .title,
#row-2 .title,
article .blurb,
article .info,
#contact,
footer .copyright {
    background-color: white;
}


/* Column Widths */
/* Single */
header .logo,
.about,
#row-2 .title,
#row-2 .projects,
#row-2 .further-info,
#twitter,
article header,
article section,
#contact,
#signup,
footer .copyright {
    width: 321px;
}

/* Double */
header nav,
.calendar,
footer .incuna {
    width: 642px;
}


/* Row Heights */
header {height: 143px;}
#row-1 {height: 306px;}
#row-2 {height: 271px;}
#row-3 {height: 331px;}
footer {height: 132px;}


/* Hack Day Page */
article .title,
article .blurb,
article .info {
    float: left;
    height: 100%;
}

article .title a,
article .title .no-twitter {
    color: #c69;
    margin-left: 22px;
}

article .blurb p:first-of-type {
    margin-top: 20px;
}

article img {
    margin: 20px;
    width: 280px;
}

article header,
article section {
    height: 100%;
}

#rpurrg {height: 300px;}
#tldw {height: 221px;}
#cbv {height: 275px;}
#typography {height: 200px;}
#oed {height: 150px;}
#apachewookie {height: 150px;}
#nanode {height: 230px;}
